.container {
  display: flex;
  position: fixed;
  margin-left: 30px;
  padding: 0;
  left: 0;
  width: 383px;
  align-items: center;
  justify-content: space-between;
  .search {
    // background-color: red;
    border-radius: 10px;
    width: 234px;
    height: 56px;
    z-index: 10;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #fff;
    width: 140px;
    height: 56px;
    padding: 4px;
    > div {
      width: 45px;
      height: 45px;
      > img {
        width: 100%;
        height: auto;
      }
    }
    .profileInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 9px;
      font-family: 'IRANSans';
      font-weight: bold;
      color: #747070;
      // width: 4.5vw;
      width: 70px;
      height: 40px;
      > span {
        height: 35px;
        // width: 5vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
