@font-face {
  font-family: 'IRANSans';
  src: url('assets/fonts/IRANSans.eot');
  src: url('assets/fonts/IRANSans.woff') format('woff'),
    url('assets/fonts/IRANSans.ttf') format('truetype');
}

html,
body {
  font-family: 'Shabnam';
  padding: 0;
  margin: 0;
  direction: rtl;
  box-sizing: border-box;
  background-color: #fff !important;
}

a {
  text-decoration: none;
}
